<p>
    Current player is: {{ gameState.getNextPlayer() }}<br />
    Score: {{ gameState.evaluateScore(gameState.getNextPlayer()) }}
</p>

<table>
    {% for y in range(0, boardDimensions.height - 1) %}
        <tr>
            {% for x in range(0, boardDimensions.width - 1) %}
                <td style="width: 50px; height: 50px; border: 1px solid black;">
                    {% if gameState.board.getField(y, x) == 'B' %}
                        {% include '_player_token.html.twig' with { 'color': 'blue' } %}
                    {% elseif gameState.board.getField(y, x) == 'R' %}
                        {% include '_player_token.html.twig' with { 'color': 'red' } %}
                    {% elseif gameState.isLegalMove(y, x) %}
                        <form action="/move/{{x}}/{{y}}" method="post">
                            <input type="submit" value="X" />
                        </form>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<p>
    <form action="/move/auto" method="post">
        Lookahead: <select name="lookAhead">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="submit" value="Minimax move" />
    </form>
</p>

<p>
    <form action="/pass" method="post">
        <input type="submit" value="Pass" />
    </form>
</p>

<p>
    <form action="/clear" method="post">
        <input type="submit" value="Clear session" />
    </form>
</p>

{% if analytics != null %}
    <p>
        Analytics of last Minimax move:
        <ul>
            <li>Nodes evaluated: {{ analytics.nodesEvaluated }}</li>
            <li>Internal nodes evaluated: {{ analytics.internalNodesEvaluated }}</li>
            <li>Leaf nodes evaluated: {{ analytics.leafNodesEvaluated }}</li>
        </ul>
    </p>
{% endif %}
